<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764349313958-erh8ifhovhe94un678rhphv4gkuk4hq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764349313958-erh8ifhovhe94un678rhphv4gkuk4hq6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>764349313958-jv7g1jjj9qhhf9h84v4vep7573tg5nhl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsokBDEudZ3qUGdBPqBIlffDwrz7OJg6s</string>
	<key>GCM_SENDER_ID</key>
	<string>764349313958</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghoutani.trackmyclientsApp</string>
	<key>PROJECT_ID</key>
	<string>trackmyclients-app</string>
	<key>STORAGE_BUCKET</key>
	<string>trackmyclients-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764349313958:ios:9f1c466f9364a998825567</string>
</dict>
</plist>